@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-x {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.animate-gradient-x {
    animation: gradient-x 10s ease infinite;
}

.text-shadow-3d {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}